.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: initial;
    right: 36px;
    top: 36px;
  }

  .bm-burger-bars {
    background: var(--color-primary);
  }

  .bm-burger-bars-hover {
    background: var(--color-secondary);
    opacity: 1 !important;
  }
  
  .bm-cross-button {
    height: 32px;
    width: 32px;
  }
  
  .bm-menu {
    background: var(--color-background-alternative);
    padding: 2.5em 1.5em 0;
    font-size: 24px;
    text-align: center;
  }
  
  .bm-item-list {
    padding: 0.8em;
  }
  
  .bm-item {
    display: block;
    color: var(--color-primary);
    text-decoration: none;
  }
  .bm-item:hover {
    color: var(--color-secondary);
  }
  