.presentacion {
    margin-top: 5%;
    margin-bottom: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: var(--text-l);
   
}

.foto {
    align-self: center;
    height: 380px;
    width: 380px;
    border-radius: 50%;
    background-image: url("./img/Profile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.parrafo {
    margin-top: 2%;
}


@media only screen and (max-width: 1700px)

{
    .presentacion {
        font-size: var(--text-m);
    }
    
    .foto {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 1280px)

{
    .presentacion {
        display: flex;
        flex-direction: column;
        font-size: var(--text-l);
    }
    
}

@media only screen and (max-width: 720px)

{
    .foto {
        border-radius: 0%;
        width: 100%;
    }

    .parrafo {
        margin-top: 4%;
    }
  
}