.enlace {

    margin-right: 5vh;
  
}

header {
    /* min-height: 5vh; */
    /* min-width: 60vw; */
    padding-left: 20%;
    padding-right: 20%;
    background-color: var(--color-background);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    text-decoration: none;
    text-transform: capitalize;
    list-style-type: none;
    font-weight: bold;
    font-size: 16px;
}

li a {
    text-decoration: none;
    color: var(--color-primary);
    transition: color .5s ease-in-out;
}

li a:hover {
    color: var(--color-secondary);
}

.color-activo {
    color: var(--color-secondary);
}

.logoHome {
    fill: var(--color-primary);
    width: 40px;
    height: 40px;
    transition: fill .5s ease-in-out;
}

.logoHome:hover {
    fill: var(--color-secondary);
}

.home-activo {
    fill: var(--color-secondary)!important;
}

@media only screen and (max-width: 720px)

{
    header {
        padding-left: 0%;
        padding-right: 0%;
        min-height: 5vh;
    }

    .logoHome {
        position: fixed;
        width: 40px;
        height: 40px;
        left: 36px;
        top: 36px;
    }
    
}