section {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    max-width: 60vw;
}

article {
    margin-bottom: 10%!important;
}

.portada {
    margin-bottom: 5%;
    max-width: 60vw;
    display: flex;
    flex-grow: 2;
    gap: 5%;
    font-size: 24px;
}

.derechaPortada {
    flex-direction: row;
}

.izquierdaPortada {
    flex-direction: row-reverse;
}

.tituloCover {
    text-transform: uppercase;
    margin-bottom: 1%;
}

.coverFoto {
    height: 300px;
    width: 600px;
}

.imagenPortada:hover {
   opacity: 0.8;
}


@media only screen and (max-width: 720px)

{
    .portada {
        max-width: 100%;
        font-size: 16px;
    }
    .derechaPortada {
        flex-direction: column;
    }

    .izquierdaPortada {
        flex-direction: column;
    }

    .coverFoto {
        height: 20vh;
        width: 70vw;
    }
    
}
