.trabajo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    font-size: var(--text-l);
    width: 40vw;
}

.titulo-trabajo {
    /* text-align: center; */
    margin-top: 2%;
}

.portada-trabajo {
    /* width: 600px;
    height: auto; */
    border-radius: 16px;
}

.imagen-trabajo {
    margin-top: 2%;
    align-self: center;
    max-width: 100%;
    height: auto;
}

.pie-foto {
    padding-top: 4px;
    align-self: center;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: white;
    background-color: var(--color-primary);
    border-radius: 8px;
    width: 240px;
    height: 32px;
}

@media only screen and (max-width: 720px)

{

    .trabajo {
        width: 60vw;
    }
    .pie-foto {
        font-size: 24px;
        padding-bottom: 8px;
        width: 300px;
    }
   .portada-trabajo {
       border-radius: 8px;
       width: 120%;
       align-self: center;
   }
    
}