.trabajo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    font-size: var(--text-l);
    width: 40vw;
}

.titulo-trabajo {
    margin-top: 2%;
}

.ejemplos-trabajo {
    margin: 4% 0 4% 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--text-bold);
    color: var(--color-primary);
}

.portada-trabajo {
    border-radius: 16px;
    width: 120%;
    align-self: center;
}

.imagen-trabajo {
    margin-top: 2%;
    align-self: center;
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

.pie-foto {
    margin-top: 1%;
    padding: 4px 2% 0 2%;
    align-self: center;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: white;
    background-color: var(--color-primary);
    border-radius: 8px;
    height: 32px;
}

@media only screen and (max-width: 1280px)

{
    .trabajo {
        font-size: var(--text-m);
        width: 50vw;
    }
    .portada-trabajo {
        border-radius: 8px;
    }
}

@media only screen and (max-width: 720px)

{

    .trabajo {
        width: 60vw;
        font-size: var(--text-l);
    }
    .pie-foto {
        font-size: 24px;
        padding-bottom: 8px;
        width: 300px;
    }
  
    
}