* {
    /* --color-primary: #5fb7ff; */
    --color-primary: #5fb7ff;
    --color-secondary: #FF93CD;
    /* --color-background: #f9f5f3; */
    --color-background: #fefdfb;
    --color-background-alternative: #262e3a;
    --color-font: #262e3a;
    /* fontsize */
    --text-s: 8px;
    --text-m: 16px;
    --text-l: 24px;
    --text-xl: 32px;
    --text-xxl: 42px;
  }